

body{

    background-color: black;
    color: white;
}

*{
    margin: 0;
    padding: 0;
}

.header{
    padding: 40px;
}

h1{
    margin: 10px 0;
}

form{
    margin: 20px 0;
}

button{
    font-size: 18px;
    padding: 5px 15px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: coral;
    margin-left: 10px;
}

input[type="text"]{

    font-size: 18px;
    font-weight: 600;
    padding: 4px;
    border-radius: 10px;
}

table{
    width: 100%;
}

#data{
    padding: 40px;
}

td{
    padding: 5px 0;
    font-size: 20px;
}

tr td{
    border-bottom: 2px solid white;
}