/* start your styling here  */

*{
    margin: 0%;
    padding: 0%;
}

.container{
    display: flex;
}

.left-section{
    width: 30%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    justify-content: space-between;
}

.right-section{
    width: 70%;
    background-color: lightblue;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile .name{
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.profile .post-name{
    margin-top: 5px;
    font-size: 15px;
}

.streams{
    display: flex;
    box-shadow: 0 0 10px black;
    width: 80%;
    height: 80px;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    justify-content: space-evenly;
}

.title{
    font-size: 20px;
    font-weight: 900;
}

.symbol{
    height: 50px;
    width: 50px;
}

.games{
    display: flex;
    box-shadow: 0 0 10px black;
    width: 80%;
    height: 80px;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    justify-content: space-evenly;
}

.new{
    display: flex;
    box-shadow: 0 0 5px black;
    width: 80%;
    height: 80px;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    justify-content: space-evenly;
}

.library{
    display: flex;
    box-shadow: 0 0 10px black;
    width: 80%;
    height: 80px;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    justify-content: space-evenly;
}

.left-bottom{
    display: flex;
    box-shadow: 0 0 10px black;
    width: 80%;
    align-items: center;
    margin-top: 30px;
    border-radius: 20px;
    background-color: lightblue;
    padding: 10px;
    justify-content: space-between;
}

.left-bottom img{
    width: 100px;
    height: 50px;
}

.left-bottom-heading{
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.right-section{
    padding: 30px 100px;
}

.item-heading{
    font-size: 30px;
    font-weight: bolder;
}

.loading{
    height: 15px;
    width: 30%;
    margin-top: 5px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.item2{
    width: 80%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

.item2 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.loading1{
    height: 15px;
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    background-color: lightblue;
}

.right-title{
    font-size: 20px;
    font-weight: 800;
}

.right-sub-title{
    font-size: 14px;
}

.item3{
    width: 80%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

.item3 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.item4{
    width: 80%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

.item4 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.percentage p{
    font-size: 20px;
    font-weight: 900;
}